<div class="bg-theme">
    <div class="container"></div>
    <h1 class="text-white">General Knowledge </h1>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ducimus eligendi sunt hic accusantium, sed repellat debitis at unde in quidem laborum similique id. Architecto non voluptatum aliquam quidem dolorem!</p>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
