<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> About Us </h1>
        
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolore ab fugiat inventore eum molestias nemo, repellat perferendis consequatur magni ex debitis, alias non! Maiores ipsa temporibus ad saepe sint!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolore ab fugiat inventore eum molestias nemo, repellat perferendis consequatur magni ex debitis, alias non! Maiores ipsa temporibus ad saepe sint!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolore ab fugiat inventore eum molestias nemo, repellat perferendis consequatur magni ex debitis, alias non! Maiores ipsa temporibus ad saepe sint!</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back To Home </button>
            </div>


        </div>
    </div>
</section>