<div class="container">
    <div class="row">
        <div class="col-md-9"> 
            <div class="card">
                <img src="https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg?auto=compress&cs=tinysrgb&w=800" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100,256 </small>
                    <small class="bg-light text-warning text-center ml-2"> Last Updated - Sep 20, 2023 </small>

                    <h1 class="mt-3 mb-3"> How to start a blog in 2023</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
