
<div class="card">
    <img src="https://images.pexels.com/photos/3937645/pexels-photo-3937645.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>

        <h5 class="mt-1"> How to start a blog in 2023</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nam cum illum culpa consequuntur repellat ratione excepturi reiciendis? Id eos nam tempore, eligendi earum labore quaerat. Alias, iure corporis! Consectetur.</p>

        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - July 2023</small>
    </div>
</div>
